@use "variables" as v;

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: v.$veryDarkViolet;
  padding-top: 3em;
  gap: 2em;
  @include v.for-xsmall-device {
    flex-direction: column;
  }
  img {
    color: white;
  }
  .footer-container {
    display: flex;
    gap: 2em;
    @include v.for-xsmall-device {
      flex-direction: column;
    }
    .content-container {
      h4 {
        @include v.for-xsmall-device {
          text-align: center;
        }
        color: white;
        margin-bottom: 1em;
      }
      ul {
        @include v.for-xsmall-device {
          text-align: center;
        }
        @include v.reset-ul;
      }
      a {
        @include v.general-link;
        font-size: 0.8em;
      }
    }
  }
  .icon-container {
    display: flex;
  }
}
.icon-fb {
  mask: url("../assets/icon-facebook.svg");
}
.icon-tt {
  mask: url("../assets/icon-twitter.svg");
}
.icon-pt {
  mask: url("../assets/icon-pinterest.svg");
}
.icon-ig {
  mask: url("../assets/icon-instagram.svg");
}
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: white;
  mask-size: auto;
  mask-repeat: no-repeat;
  margin-left: 1em;
}
.icon:hover {
  background: v.$cyan;
}