@use "variables" as v;

nav {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  .nav-wrap {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    @media screen and (max-width: v.$small) {
      display: none;
    }
  }
  ul {
    @include v.reset-ul;
    display: flex;
    align-items: center;
    column-gap: 0.8em;
  }
  a.link {
    @include v.general-a-link($hover: v.$veryDarkBlue);
    font-size: 0.8em;
    font-weight: 500;
  }
  a.btn {
    @include v.general-a-btn;
    font-size: 0.8em;
    line-height: 1.2;
  }
}