@font-face { 
  font-family: 'Poppins'; 
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face { 
  font-family: 'Poppins'; 
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
    
$red: hsl(0, 87%, 67%);

$gray: hsl(0, 0%, 75%);
$grayWhite: #eff1f7;
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);

$small: 600px;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

input {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 18px;
  border: 2px solid white;
  padding: 0.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $veryDarkBlue;
}

p {
  margin: 0 0 1.5em;
  color: $grayishViolet;
}

a.btn {
  color: white;
  white-space: nowrap;
  background-color: $cyan;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  border-radius: 2em;
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
  text-align: center;
}

.container {
  padding-left: 3.5em;
  padding-right: 3.5em;
  @media screen and (max-width: $small) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.title-container {
  text-align: center;
}

// General End

// main section
.main {
  min-height: 100vh;
  margin-bottom: 10em;
  .introduction {
    display: flex;
    align-items: center;
    gap: 1em;
    .title-container {
      min-width: 50%;
      text-align: left;
    }
  }
  @media screen and (max-width: $small) {
    .introduction {
      flex-direction: column;
      align-items: flex-start;
      .title-container {
        width: 100%;
        text-align: center;
        order: 1;
      }
    }
  }
}

// feature section
.feature {
  div, input, a.btn {
    border-radius: 0.4em;
  }
}
.feature {
  background-color: $grayWhite;
  .form-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 2em;
    gap: 1em;
    transform: translateY(-50%);
    // background settings
    background-image: url('../assets/bg-shorten-desktop.svg');
    background-size: 100% 100%;
    background-color: $darkViolet;
    @media screen and (max-width: $small) {
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      // background settings
      background-image: url('../assets/bg-shorten-mobile.svg');
      background-position: right top;
      background-size: auto 70%;
      background-repeat: no-repeat;
    }
  }
  .title-container {
    max-width: 500px;
  }
}